* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blogpage {
  width: 70%;
  min-width: 750px;
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.editbtn {
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}
