.container {
  margin: 2rem 0 0 0;
}
.container h1 {
  text-align: center;
}
.mySwiper {
  /* border: 2px solid red; */
  margin: 2rem;
  padding: 40px;
}

/* .sliderimgconatiner {
  border: 2px solid red;
} */

/* .slider {
  border: 2px solid red;
} */
.sliderimg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 2px solid red; */
  /* max-width: 400px; */
  /* width: 60%; */
  /* height: auto;
  max-height: 300px; */
}
@media (max-width: 1200px) {
  /* .mySwiper {
    display: none !important ;
    border: 2px solid red;
  } */
}
