.blogCards {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  /* grid: gap 20px; */
}
.blogCard {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.blogCard a {
  display: block;
}
